h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: fantasy;
}

p {
  text-align: center;
  font-family: sans-serif;
}



#calendar {
  /* background-color: tomato; */
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-between;
  margin: auto;
}


/* Styling calendar windows */
.calWindowClosed {
  /* border: solid black 1px; */
  width: 200px;
  height: 200px;
  background-color: lightBlue;
  margin: 10px;
}

.calTitle {
  text-align: center;
  line-height: 30px;
  height: 30px;
  font-family: fantasy;
  font-size: 20px;
}

.calWindowOpen {
  /* border: solid black 1px; */
  width: 200px;
  height: 200px;
  background-color: white;
  border: 1px solid black;
  margin: 10px;
}

/* Day 5 */
.stop-end {
    stop-color: yellow;
}

.stop-middle {
    stop-color: black;
}

.link {
    fill:   none;
    stroke: url(#mainGradient);
    stroke-width: 2;
}

.out {
    stroke: none;
}
